<div align="center" valign="top">
	<table>
		<tr>
			<td align="right" colspan="6"><img width="700px" height="453px" id="clip" src="{{ asset('bundles/lakombimain/images/gallery/1full.jpg') }}"/></td>
		</tr>
		<tr>
			<td width="500px">&nbsp;</td>
			<td width="40px" align="right"><img src="{{ asset('bundles/lakombimain/images/icons/facebook.png') }}"/></td>
			<td width="40px" align="right"><img src="{{ asset('bundles/lakombimain/images/icons/delicious.png') }}"/></td>
			<td width="40px" align="right"><img src="{{ asset('bundles/lakombimain/images/icons/linkedin.png') }}"/></td>
			<td width="40px" align="right"><img src="{{ asset('bundles/lakombimain/images/icons/twitter.png') }}"/></td>
			<td width="40px" align="right"><img src="{{ asset('bundles/lakombimain/images/icons/google.png') }}"/></td>
		</tr>
		<tr>
			<td align="left" colspan="6"><h1>Commentaire :</h1></td>
		</tr>
		<tr>
			<td align="left" colspan="6">&nbsp;</td>
		</tr>
	</table>
</div>
