<div align="center" valign="top">
	<table>
		<tr>
			<td align="right" colspan="5"><img width="600px" height="453px" id="clip" src="{{ asset('bundles/lakombimain/images/gallery/1full.jpg') }}"/></td>
		</tr>
		<tr>
			<td><img src="{{ asset('bundles/lakombimain/images/icons/facebook.png') }}"/></td>
			<td><img src="{{ asset('bundles/lakombimain/images/icons/delicious.png') }}"/></td>
			<td><img src="{{ asset('bundles/lakombimain/images/icons/linkedin.png') }}"/></td>
			<td><img src="{{ asset('bundles/lakombimain/images/icons/twitter.png') }}"/></td>
			<td><img src="{{ asset('bundles/lakombimain/images/icons/google.png') }}"/></td>
		</tr>
		<tr>
			<td align="right" colspan="5"><h1>Commentaires :</h1></td>
		</tr>
	</table>
</div>
