<div align="center" valign="top" width="100%">
	<table border="0" width="100%">
		<tr>
			<td><a href="#" onclick="document.getElementById('clip').src='{{ asset('bundles/lakombimain/images/gallery/1full.jpg') }}'"><img width="150" height="90" src="{{ asset('bundles/lakombimain/images/gallery/1.jpg') }}" /></a></td>
		</tr>
		<tr>
			<td><a href="#" onclick="document.getElementById('clip').src='{{ asset('bundles/lakombimain/images/gallery/2full.jpg') }}'"><img width="150" height="90" src="{{ asset('bundles/lakombimain/images/gallery/2.jpg') }}" /></a></td>
		</tr>
		<tr>
			<td><a href="#" onclick="document.getElementById('clip').src='{{ asset('bundles/lakombimain/images/gallery/3full.jpg') }}'"><img width="150" height="90" src="{{ asset('bundles/lakombimain/images/gallery/3.jpg') }}" /></a></td>
		</tr>
		<tr>
			<td><a href="#" onclick="document.getElementById('clip').src='{{ asset('bundles/lakombimain/images/gallery/4full.jpg') }}'"><img width="150" height="90" src="{{ asset('bundles/lakombimain/images/gallery/4.jpg') }}" /></a></td>
		</tr>
		<tr>
			<td><a href="#" onclick="document.getElementById('clip').src='{{ asset('bundles/lakombimain/images/gallery/5full.jpg') }}'"><img width="150" height="90" src="{{ asset('bundles/lakombimain/images/gallery/5.jpg') }}" /></a></td>
		</tr>
	</table>
</div>		
