<table width="1000px" align="center" id="bg_cnt">
	<tr>
		<td width="100px">&nbsp;</td>
		<td>
		<div class="carrousel" id="sponsors">
			<div class="interieur-carrousel">
				<div class="items">
					<div class="item">
						<a href="http://www.facebook.com/pages/IA-Production-nos-Studios/156051627808703" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/ia.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.facebook.com/pages/Le-Richelieu/158343344193359" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/richelieu.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://02.iciboutique.com/magasin-chezmemo" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/memo.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.iciboutique.com/magasin-cheztonton" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/tonton.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.facebook.com/pages/IA-Production-nos-Studios/156051627808703" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/ia.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.facebook.com/pages/Le-Richelieu/158343344193359" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/richelieu.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://02.iciboutique.com/magasin-chezmemo" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/memo.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.iciboutique.com/magasin-cheztonton" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/tonton.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.facebook.com/pages/IA-Production-nos-Studios/156051627808703" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/ia.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.facebook.com/pages/Le-Richelieu/158343344193359" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/richelieu.png') }}" />
						</a>
					</div>					
					<div class="item">
						<a href="http://02.iciboutique.com/magasin-chezmemo" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/memo.png') }}" />
						</a>
					</div>
					<div class="item">
						<a href="http://www.iciboutique.com/magasin-cheztonton" target="_blank">
						<img width="160px" src="{{ asset('bundles/lakombimain/images/tonton.png') }}" />
						</a>
					</div>
				</div>
			</div>
				<div class="temoins"></div>
		</div>
		</td>
		<td width="60px">&nbsp;</td>
		<td valign="top">
			<a href="#" target="_blank">
			<img width="320px" height="140px" src="{{ asset('bundles/lakombimain/images/sponsor.png') }}" />
			</a>
		</td>
	</tr>
</table>
